header{
    padding-top: 71px;
    padding-bottom: 20px;
    height: 72px;
    position: sticky;
    background-color: #040519;
    z-index: 1001;
    top: 0px;
    .container{
        color: #FFFFFF;
        display: inline-block;
        width: 100%;
        line-height: 72px;
        .logo{
            color: #040519;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #fff;
            font-family: Horizon;
            text-transform: uppercase;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 2;
            display: flex;
            align-items: center;
            float: left;
            @media (max-width: 768px){
                font-size: 9.6vw;
            }
        }
        .menu{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            list-style-type: none;
            position: relative;
            margin:0 0;
            @media (max-width: 768px){
                display: none;
            }
            li {
                margin-left: 100px;
            }
            a {
                font-family: Poppins;
                font-size: 20px;
            }
            .btn button{
                font-family: Poppins;
                font-size: 21px;
                position: absolute;
                width: 259px;
                float: right;
                right: 0px;
                height: 72px;
            }
        }
    }
}




