
html{
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}

@font-face {
  font-family: 'Horizon';
  src: url('/assets/fonts/horizon/horizon.otf');
}
@font-face {
  font-family: 'Horizon-Outline';
  src: url('/assets/fonts/horizon/horizon_outlined.otf');
}

body{
  margin:0px;
  font-family: 'Roboto', sans-serif;
  background: #040519;
}
a{
  cursor: pointer;
}
//////////////
.big-text-transparent{
  color: #040519;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  font-family: Horizon;
  font-size: 72px;
  @media (max-width: 768px){
    font-size: 13.3vw;
}
}
.big-text-white{
  color: white;
  font-family: Horizon;
  font-size: 72px;
  @media (max-width: 768px){
    font-size: 13.3vw;
}
}